### JetBrains IntelliJ template
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea
*.iml
*.iws
out/

### Ansible template
*.retry

### Vagrant template
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log
